Package: mx-installer
Version: 15.10mx15
Architecture: i386
Maintainer: anticapitalista <antiX@operamail.com>
Installed-Size: 1288
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libqt5core5a (>= 5.0.2), libqt5gui5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 4.1.1), os-prober, gdisk
Recommends: gparted, partitionmanager
Section: system
Priority: optional
Homepage: http://antix.mepis.org
Description: GUI installer for MX Linux.
