Package: mx-installer
Version: 15.2
Architecture: i386
Maintainer: anticapitalista <antiX@operamail.com>
Installed-Size: 1255
Depends: os-prober
Recommends: gparted, partitionmanager
Section: system
Priority: optional
Homepage: http://antix.mepis.org
Description: GUI installer for MX-14.
